<div class="boxPadrao">
  <form class="form-signin" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="text-center">
      <img class="mb-4" src="../assets/images/logo_login.png" alt="" width="130" height="100">
      <h1 class="h3 mb-3 font-weight-normal alinha-centro">Criar Conta</h1>
    </div>
    <label for="nomeCompleto">Nome Completo</label>
    <input type="text" class="form-control" id="nomeCompleto"  name="nomeCompleto" [(ngModel)]="account.nomeCompleto" required autofocus="">

    <label for="usuario">Usuario</label>
    <input type="text"class="form-control" id="usuario"  name="usuario"  [(ngModel)]="account.usuario" required autofocus="">

    <label for="inputEmail">Perfil</label>
    <select class="form-control" id="perfil" name="perfil" [(ngModel)]="account.perfil" required>
      <option value="administrador">Administrador</option>
      <option value="colaborador">Colaborador</option>
    </select>

    <label for="inputEmail">Email</label>
    <input type="email"class="form-control" id="email" name="email"   [(ngModel)]="account.email" required autofocus="">

    <label for="inputPassword">Senha</label>
    <input type="password" class="form-control "  id="senha" name="senha" [(ngModel)]="account.senha" required>




    <div class="text-center mt-4">
      <button type="submit" class="btn-Padrao text-center " (click)="onSubmit()" [disabled]="form.form.invalid">
        <span class="negrito fonte-maior">Criar Conta</span><br />
      </button>
      <button type="button" class="btn btn-link btn- block " style="margin-bottom: 30px;" routerLink="/login">
        Cancelar
      </button>
    </div>
  </form>
</div>
